In [83]:
import pandas as pd
import calendar

In [84]:
dir(calendar)

['Calendar',
 'EPOCH',
 'FRIDAY',
 'February',
 'HTMLCalendar',
 'IllegalMonthError',
 'IllegalWeekdayError',
 'January',
 'LocaleHTMLCalendar',
 'LocaleTextCalendar',
 'MONDAY',
 'SATURDAY',
 'SUNDAY',
 'THURSDAY',
 'TUESDAY',
 'TextCalendar',
 'WEDNESDAY',
 '_EPOCH_ORD',
 '__all__',
 '__builtins__',
 '__cached__',
 '__doc__',
 '__file__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_colwidth',
 '_locale',
 '_localized_day',
 '_localized_month',
 '_monthlen',
 '_nextmonth',
 '_prevmonth',
 '_spacing',
 'c',
 'calendar',
 'datetime',
 'day_abbr',
 'day_name',
 'different_locale',
 'error',
 'firstweekday',
 'format',
 'formatstring',
 'isleap',
 'leapdays',
 'main',
 'mdays',
 'month',
 'month_abbr',
 'month_name',
 'monthcalendar',
 'monthrange',
 'prcal',
 'prmonth',
 'prweek',
 'repeat',
 'setfirstweekday',
 'sys',
 'timegm',
 'week',
 'weekday',
 'weekheader']

In [96]:
calendar.day_name[2]

'Wednesday'

### Download the data and load it to Pandas. 

You can find them [here](https://drive.google.com/file/d/1NY6cmF9Shjw-dD7BD6bNmfcIVz-kQcFR/view?usp=sharing).

In [3]:
cast = pd.read_csv('data/cast.csv', index_col=None)
cast.head()

                  title  year      name   type                character     n
0        Closet Monster  2015  Buffy #1  actor                  Buffy 4   NaN
1       Suuri illusioni  1985    Homo $  actor                   Guests  22.0
2   Battle of the Sexes  2017   $hutter  actor          Bobby Riggs Fan  10.0
3  Secret in Their Eyes  2015   $hutter  actor          2002 Dodger Fan   NaN
4            Steve Jobs  2015   $hutter  actor  1988 Opera House Patron   NaN

In [4]:
release_dates = pd.read_csv('data/release_dates.csv', index_col=None,
                                      parse_dates=['date'], infer_datetime_format=True)
release_dates.head()

                    title  year      country       date
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15
1                 #Beings  2015      Romania 2015-01-29
2               #Declimax  2018  Netherlands 2018-01-21
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21
4                 #Horror  2015          USA 2015-11-20

In [127]:
day_num_to_day_name = {0:"Monday", 1:"Tuesday", 2:"Wednesday", 3:"Thursday", 4:"Friday", 5:"Saturday", 6:"Sunday"}

In [156]:
month_num_to_month_name = {1:"January", 2:"February", 3:"March", 4:"April", 5:"May", 6:"June",
                           7:"July", 8:"August", 9:"September", 10:"October", 11:"November", 12:"December"}

### Count the number of movies with "Christmas" in their title for each month, that is released are the USA.

In [33]:
release_dates[release_dates["title"].str.contains("Christmas") & release_dates["country"].eq("USA")].groupby(release_dates["date"].dt.month).count().sort_values("title", ascending=False)["title"].rename_axis(index="month").rename("# of movies")

month
12    47
11    38
10    14
1      2
2      2
8      2
9      2
4      1
5      1
6      1
7      1
Name: # of movies, dtype: int64

### Count the number of movies with "Christmas" in their title for each month, that are released in Canada.

In [61]:
release_dates["month"] = release_dates["date"].dt.month_name()
release_dates.head()

                    title  year      country       date     month
0   #73, Shaanthi Nivaasa  2007        India 2007-06-15      June
1                 #Beings  2015      Romania 2015-01-29   January
2               #Declimax  2018  Netherlands 2018-01-21   January
3  #Ewankosau saranghaeyo  2015  Philippines 2015-01-21   January
4                 #Horror  2015          USA 2015-11-20  November

In [62]:
release_dates[release_dates["title"].str.contains("Christmas") & release_dates["country"].eq("Canada")].value_counts("month").sort_index()

month
December    6
November    9
October     2
dtype: int64

### Count the number of movies in which the titles start with "The Hobbit" for each month, that are released in the USA.

In [63]:
release_dates[release_dates["title"].str.startswith("The Hobbit") &
             release_dates["country"].eq("USA")].groupby("month").size()

month
December    3
dtype: int64

### Count the number of movies with "Romance" in their title for **each day of the week**, that are released in the USA.

In [101]:
release_dates[release_dates["title"].str.contains("Romance") & release_dates["country"].eq("USA")]\
.value_counts(release_dates["date"].dt.day_name())

date
Sunday       32
Monday       21
Friday       18
Wednesday    11
Saturday      8
Thursday      6
Tuesday       4
dtype: int64

### Count the number of movies with "Action" in their title for **each day of the week**, that are released in the USA.

In [108]:
action_movies = release_dates[release_dates["title"].str.contains("Action") & release_dates["country"].eq("USA")]
action_movies.head()

                 title  year country       date      month
6411    A Civil Action  1998     USA 1999-01-08    January
8462   A Man of Action  1923     USA 1923-06-03       June
13176    Ace of Action  1926     USA 1926-11-28   November
13441           Action  1921     USA 1921-09-12  September
13447    Action Galore  1925     USA 1925-11-03   November

In [130]:
action_movies.value_counts(action_movies["date"].dt.day_name())

date
Friday       19
Sunday        3
Wednesday     3
Monday        2
Saturday      2
Thursday      1
Tuesday       1
dtype: int64

In [131]:
action_count = action_movies.value_counts(action_movies["date"].dt.weekday)
action_count.sort_index().rename(index=day_num_to_day_name)

date
Monday        2
Tuesday       1
Wednesday     3
Thursday      1
Friday       19
Saturday      2
Sunday        3
dtype: int64

### On which date was each Judi Dench movie from the 1990s released in the USA?

In [132]:
cast[(cast['name'] == "Judi Dench")]

,title,year,name,type,character,n
2720471,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0
2720472,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0
2720473,A Midsummer Night's Dream,1968,Judi Dench,actress,Titania,16.0
2720474,A Room with a View,1985,Judi Dench,actress,"Eleanor Lavish, a novelist",7.0
2720475,A Study in Terror,1965,Judi Dench,actress,Sally,8.0
2720476,Angelina Ballerina: Angelina Sets Sail,2006,Judi Dench,actress,Miss Lilly,2.0
2720477,Casino Royale,2006,Judi Dench,actress,M,4.0
2720478,Chocolat,2000,Judi Dench,actress,Armande Voizin,18.0
2720479,Dead Cert,1974,Judi Dench,actress,Laura Davidson,2.0
2720480,Die Another Day,2002,Judi Dench,actress,M,6.0
2720481,Doogal,2006,Judi Dench,actress,Narrator,7.0
2720482,Four in the Morning,1965,Judi Dench,actress,Wife,2.0
2720483,GoldenEye,1995,Judi Dench,actress,M,6.0
2720484,Hamlet,1996,Judi Dench,actress,Hecuba,12.0
2720485,He Who Rides a Tiger,1965,Judi Dench,actress,Joanne,2.0
2720486,Henry V,1989,Judi Dench,actress,Mistress Nell Quickly,26.0
2720487,Home on the Range,2004,Judi Dench,actress,Mrs. Caloway,7.0
2720488,Iris,2001,Judi Dench,actress,Iris Murdoch,3.0
2720489,J. Edgar,2011,Judi Dench,actress,Annie Hoover,13.0
2720490,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0
2720491,Jane Eyre,2011,Judi Dench,actress,Mrs. Fairfax,18.0
2720492,Ladies in Lavender,2004,Judi Dench,actress,Ursula,1.0
2720493,Luther,1974,Judi Dench,actress,Katherine,7.0
2720494,Miss Peregrine's Home for Peculiar Children,2016,Judi Dench,actress,Miss Avocet,4.0
2720495,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0
2720496,Mrs Henderson Presents,2005,Judi Dench,actress,Mrs. Laura Henderson,1.0
2720497,Murder on the Orient Express,2017,Judi Dench,actress,Princess Dragomiroff,NaN
2720498,My Week with Marilyn,2011,Judi Dench,actress,Dame Sybil Thorndike,23.0
2720499,Nine,2009,Judi Dench,actress,Lilli,6.0
2720500,Notes on a Scandal,2006,Judi Dench,actress,Barbara Covett,1.0
2720501,Philomena,2013,Judi Dench,actress,Philomena,1.0
2720502,Pirates of the Caribbean: On Stranger Tides,2011,Judi Dench,actress,Society Lady,16.0
2720503,Pride & Prejudice,2005,Judi Dench,actress,Lady Catherine de Bourg,20.0
2720504,Quantum of Solace,2008,Judi Dench,actress,M,4.0
2720505,Rage,2009,Judi Dench,actress,Mona Carvell,NaN
2720506,Run for Your Wife,2012,Judi Dench,actress,Bag Lady,40.0
2720507,Schadenfreude,2016,Judi Dench,actress,The Narrator,NaN
2720508,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0
2720509,Skyfall,2012,Judi Dench,actress,M,2.0
2720510,Spectre,2015,Judi Dench,actress,M,NaN
2720511,Stars in Shorts,2012,Judi Dench,actress,Mary,29.0
2720512,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0
2720513,The Angelic Conversation,1985,Judi Dench,actress,Shakespeare's Sonnets read by,3.0
2720514,The Best Exotic Marigold Hotel,2011,Judi Dench,actress,Evelyn Greenslade,1.0
2720515,The Chronicles of Riddick,2004,Judi Dench,actress,Aereon,4.0
2720516,The Importance of Being Earnest,2002,Judi Dench,actress,Lady Bracknell,5.0
2720517,The Second Best Exotic Marigold Hotel,2015,Judi Dench,actress,Evelyn Greenslade,5.0
2720518,The Shipping News,2001,Judi Dench,actress,Agnis Hamm,3.0
2720519,The Third Secret,1964,Judi Dench,actress,Miss Humphries,12.0
2720520,The World Is Not Enough,1999,Judi Dench,actress,M,6.0
2720521,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0
2720522,Tulip Fever,2017,Judi Dench,actress,The Abbess of St. Ursula,NaN
2720523,Victoria and Abdul,2017,Judi Dench,actress,Queen Victoria,NaN
2720524,Wetherby,1985,Judi Dench,actress,Marcia Pilborough,3.0

In [133]:
release_dates[release_dates['country'] == 'USA']

                             title  year country       date      month
4                          #Horror  2015     USA 2015-11-20   November
6                    #Lucky Number  2015     USA 2015-09-01  September
9                            #Roxy  2017     USA 2017-03-01      March
10                      #Screamers  2016     USA 2017-10-31    October
11                 #Slaughterhouse  2016     USA 2016-10-01    October
...                            ...   ...     ...        ...        ...
452492                      sTelth  2016     USA 2016-03-18      March
452494                      sxtape  2013     USA 2014-05-16        May
452511                         xXx  2002     USA 2002-08-09     August
452599  xXx: Return of Xander Cage  2017     USA 2017-01-20    January
452651     xXx: State of the Union  2005     USA 2005-04-29      April

[44354 rows x 5 columns]

In [105]:
judi_dench = pd.merge(cast[(cast['name'] == "Judi Dench")],release_dates[release_dates['country'] == 'USA'])
judi_dench[judi_dench['year']//10 * 10 == 1990]

,title,year,name,type,character,n,country,date,month
7,GoldenEye,1995,Judi Dench,actress,M,6.0,USA,1995-11-17,November
8,Hamlet,1996,Judi Dench,actress,Hecuba,12.0,USA,1996-12-25,December
13,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0,USA,1996-03-22,March
17,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0,USA,1997-10-03,October
27,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0,USA,1999-01-08,January
30,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0,USA,1999-05-14,May
36,The World Is Not Enough,1999,Judi Dench,actress,M,6.0,USA,1999-11-19,November
37,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0,USA,1997-12-19,December

### In which months do films with the actress Judi Dench tend to be released in the USA?

In [140]:
pd.merge(cast[cast["name"].eq("Judi Dench")],release_dates[release_dates["country"].eq("USA")])

,title,year,name,type,character,n,country,date,month
0,84 Charing Cross Road,1987,Judi Dench,actress,Nora Doel,3.0,USA,1987-02-13,February
1,A Handful of Dust,1988,Judi Dench,actress,Mrs. Beaver,13.0,USA,1988-06-24,June
2,A Study in Terror,1965,Judi Dench,actress,Sally,8.0,USA,1966-08-10,August
3,Casino Royale,2006,Judi Dench,actress,M,4.0,USA,2006-11-17,November
4,Chocolat,2000,Judi Dench,actress,Armande Voizin,18.0,USA,2001-01-19,January
5,Die Another Day,2002,Judi Dench,actress,M,6.0,USA,2002-11-22,November
6,Doogal,2006,Judi Dench,actress,Narrator,7.0,USA,2006-02-24,February
7,GoldenEye,1995,Judi Dench,actress,M,6.0,USA,1995-11-17,November
8,Hamlet,1996,Judi Dench,actress,Hecuba,12.0,USA,1996-12-25,December
9,Henry V,1989,Judi Dench,actress,Mistress Nell Quickly,26.0,USA,1989-11-08,November
10,Home on the Range,2004,Judi Dench,actress,Mrs. Caloway,7.0,USA,2004-04-02,April
11,Iris,2001,Judi Dench,actress,Iris Murdoch,3.0,USA,2002-03-29,March
12,J. Edgar,2011,Judi Dench,actress,Annie Hoover,13.0,USA,2011-11-11,November
13,Jack & Sarah,1995,Judi Dench,actress,Margaret,3.0,USA,1996-03-22,March
14,Jane Eyre,2011,Judi Dench,actress,Mrs. Fairfax,18.0,USA,2011-04-22,April
15,Ladies in Lavender,2004,Judi Dench,actress,Ursula,1.0,USA,2005-05-27,May
16,Miss Peregrine's Home for Peculiar Children,2016,Judi Dench,actress,Miss Avocet,4.0,USA,2016-09-30,September
17,Mrs Brown,1997,Judi Dench,actress,Queen Victoria,1.0,USA,1997-10-03,October
18,Mrs Henderson Presents,2005,Judi Dench,actress,Mrs. Laura Henderson,1.0,USA,2006-02-17,February
19,Murder on the Orient Express,2017,Judi Dench,actress,Princess Dragomiroff,NaN,USA,2017-11-22,November
20,My Week with Marilyn,2011,Judi Dench,actress,Dame Sybil Thorndike,23.0,USA,2011-12-23,December
21,Nine,2009,Judi Dench,actress,Lilli,6.0,USA,2009-12-25,December
22,Notes on a Scandal,2006,Judi Dench,actress,Barbara Covett,1.0,USA,2007-01-26,January
23,Philomena,2013,Judi Dench,actress,Philomena,1.0,USA,2013-11-27,November
24,Pirates of the Caribbean: On Stranger Tides,2011,Judi Dench,actress,Society Lady,16.0,USA,2011-05-20,May
25,Pride & Prejudice,2005,Judi Dench,actress,Lady Catherine de Bourg,20.0,USA,2005-11-23,November
26,Quantum of Solace,2008,Judi Dench,actress,M,4.0,USA,2008-11-14,November
27,Shakespeare in Love,1998,Judi Dench,actress,Queen Elizabeth,12.0,USA,1999-01-08,January
28,Skyfall,2012,Judi Dench,actress,M,2.0,USA,2012-11-09,November
29,Spectre,2015,Judi Dench,actress,M,NaN,USA,2015-11-06,November
30,Tea with Mussolini,1999,Judi Dench,actress,Arabella,2.0,USA,1999-05-14,May
31,The Best Exotic Marigold Hotel,2011,Judi Dench,actress,Evelyn Greenslade,1.0,USA,2012-05-25,May
32,The Chronicles of Riddick,2004,Judi Dench,actress,Aereon,4.0,USA,2004-06-11,June
33,The Importance of Being Earnest,2002,Judi Dench,actress,Lady Bracknell,5.0,USA,2002-06-21,June
34,The Second Best Exotic Marigold Hotel,2015,Judi Dench,actress,Evelyn Greenslade,5.0,USA,2015-03-06,March
35,The Shipping News,2001,Judi Dench,actress,Agnis Hamm,3.0,USA,2002-01-18,January
36,The World Is Not Enough,1999,Judi Dench,actress,M,6.0,USA,1999-11-19,November
37,Tomorrow Never Dies,1997,Judi Dench,actress,M,9.0,USA,1997-12-19,December
38,Tulip Fever,2017,Judi Dench,actress,The Abbess of St. Ursula,NaN,USA,2017-02-24,February
39,Victoria and Abdul,2017,Judi Dench,actress,Queen Victoria,NaN,USA,2017-09-22,September
40,Wetherby,1985,Judi Dench,actress,Marcia Pilborough,3.0,USA,1985-07-19,July

In [141]:
judi_dench_films = cast[cast["name"].eq("Judi Dench")].merge(release_dates[release_dates["country"].eq("USA")])

In [161]:
judi_dench_films.groupby(judi_dench_films["date"].dt.month).size().rename(index=month_num_to_month_name)

date
January       4
February      4
March         3
April         2
May           4
June          3
July          1
August        1
September     2
October       1
November     12
December      4
dtype: int64

### In which months do films with the actor Tom Cruise tend to be released in the USA?

In [163]:
tom_cruise_films = cast[cast["name"].eq("Tom Cruise")].merge(release_dates[release_dates["country"].eq("USA")])

In [165]:
tom_cruise_films.groupby(tom_cruise_films["date"].dt.month).size().rename(index=month_num_to_month_name)

date
January       2
March         1
April         3
May           5
June          8
July          7
August        3
September     1
October       3
November      3
December     10
dtype: int64